<html>
<head>
</head>
<body>
	Hello, howdy? :) <br/>
	Wanna watch some videos from torrent-trackers without downloading them? <br/>
	<button onclick="func()">Click me;)</button>
    <script>
	var WebTorrent = require('webtorrent')
    
    function func() {
		if (WebTorrent.WEBRTC_SUPPORT) {
	  	// WebRTC is supported
		  console.log('browser pashet');
		} else {
		  // Use a fallback
		  console.log('vse, browser ne pashet, rasxodims\'ya')
		}
	}
	</script>
</body>
</html>