<html>
<head>
</head>
<body>
	Hello, howdy? :) <br/>
	Wanna watch some videos from torrent-trackers without downloading them? <br/>
	<form action = "/" method = "post">
        <input type="submit" name="button" value="Click here" />
    </form>
</body>
</html>